<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="POST" action="">
        <h1>Login</h1>
        {{ form.hidden_tag() }}
        <label for="username">Username</label>
        {{ form.username(class="form-input") }}
        <label for="password">Password</label>
        {{ form.password(class="form-input") }}
        {{ form.submit(class="form-button") }}
        <a href="{{ url_for('register') }}">Don't have an account? Sign up</a>
    </form>
</body>
</html>